@font-face {
  font-family: "Neuzeit Office";
  font-weight: normal;
  src: url("//db.onlinewebfonts.com/t/2b75c8e61f3e0a99d45d4a30a0bdc888.eot");
  src: url("//db.onlinewebfonts.com/t/2b75c8e61f3e0a99d45d4a30a0bdc888.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/2b75c8e61f3e0a99d45d4a30a0bdc888.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/2b75c8e61f3e0a99d45d4a30a0bdc888.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/2b75c8e61f3e0a99d45d4a30a0bdc888.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/2b75c8e61f3e0a99d45d4a30a0bdc888.svg#Neuzeit Office Soft Rounded")
      format("svg");
}

@font-face {
  font-family: "Neuzeit Office";
  font-weight: bold;
  src: url("//db.onlinewebfonts.com/t/a39f0ff438398a729dea9853b2c5e9e5.eot");
  src: url("//db.onlinewebfonts.com/t/a39f0ff438398a729dea9853b2c5e9e5.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a39f0ff438398a729dea9853b2c5e9e5.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/a39f0ff438398a729dea9853b2c5e9e5.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/a39f0ff438398a729dea9853b2c5e9e5.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/a39f0ff438398a729dea9853b2c5e9e5.svg#Neuzeit Office")
      format("svg");
}

@font-face {
  font-family: "Alegreya";
  font-weight: normal;
  src: url("//db.onlinewebfonts.com/t/47439778717a494cad415e6e5cf8b790.eot");
  src: url("//db.onlinewebfonts.com/t/47439778717a494cad415e6e5cf8b790.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/47439778717a494cad415e6e5cf8b790.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/47439778717a494cad415e6e5cf8b790.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/47439778717a494cad415e6e5cf8b790.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/47439778717a494cad415e6e5cf8b790.svg#Alegreya")
      format("svg");
}

@font-face {
  font-family: "Alegreya";
  font-weight: bold;
  src: url("//db.onlinewebfonts.com/t/e749a0d0e47e08c53fe01c491bf99ca7.eot");
  src: url("//db.onlinewebfonts.com/t/e749a0d0e47e08c53fe01c491bf99ca7.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e749a0d0e47e08c53fe01c491bf99ca7.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/e749a0d0e47e08c53fe01c491bf99ca7.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/e749a0d0e47e08c53fe01c491bf99ca7.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/e749a0d0e47e08c53fe01c491bf99ca7.svg#Alegreya")
      format("svg");
}

@font-face {
  font-family: "Cinzel";
  src: url("//db.onlinewebfonts.com/t/ea217b877ad8a26878c3ca0d102491b7.eot");
  src: url("//db.onlinewebfonts.com/t/ea217b877ad8a26878c3ca0d102491b7.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ea217b877ad8a26878c3ca0d102491b7.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/ea217b877ad8a26878c3ca0d102491b7.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/ea217b877ad8a26878c3ca0d102491b7.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/ea217b877ad8a26878c3ca0d102491b7.svg#Cinzel")
      format("svg");
}

@media screen and (min-width: 992px) {
  body {
    font-size: 1.125rem;

    &--large {
      font-size: 1.25rem;
    }
  }

  p {
    font-size: 1.125rem;
  }
}
