@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

@import url("//db.onlinewebfonts.com/c/2b75c8e61f3e0a99d45d4a30a0bdc888?family=Neuzeit+Office+Soft+Rounded");
@import url("//db.onlinewebfonts.com/c/47439778717a494cad415e6e5cf8b790?family=Alegreya");
@import url("//db.onlinewebfonts.com/c/ea217b877ad8a26878c3ca0d102491b7?family=Cinzel");

$bg-secondary: #fbf4f5;
$primary: #d20a00;
$body-1: #212529;

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
